<!DOCTYPE html>
<html>
    <head>
        <title>Dispositivos e Sensores</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <style>
            .zebra-table tr:nth-child(odd) {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        {% include 'navbar.html' %}

        <br />

        <div class="container">
            <h1>Dispositivos e Sensores</h1>
            <br />
            <table class="table zebra-table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Localização</th>
                        <th>Criado em</th>
                        <th>Atualizado em</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dispositivo in dispositivos %}
                    <tr>
                        <td>{{ dispositivo.modelo }}</td>
                        <td>{{ dispositivo.localizacao }}</td>
                        <td>{{ dispositivo.created_at }}</td>
                        <td>{{ dispositivo.updated_at }}</td>
                        <td>
                            <form
                                action="{% url 'delete_dispositivo' dispositivo.id %}"
                                method="post"
                            >
                                {% csrf_token %}
                                <button
                                    type="submit"
                                    class="btn btn-danger btn-sm"
                                >
                                    Excluir
                                </button>
                            </form>
                            <a
                                href="{% url 'atualizar_dispositivo' dispositivo.id %}"
                                class="btn btn-primary btn-sm"
                                >Atualizar</a
                            >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Modelo</th>
                                        <th>Tipo</th>
                                        <th>Última leitura</th>
                                        <th>Ativo</th>
                                        <th>Valor ideal</th>
                                        <th>Criado em</th>
                                        <th>Atualizado em</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sensor in dispositivo.sensores.all %}
                                    <tr>
                                        <td>{{ sensor.modelo }}</td>
                                        <td>{{ sensor.tipo }}</td>
                                        <td>{{ sensor.ultima_leitura }}</td>
                                        <td>{{ sensor.ativo }}</td>
                                        <td>{{ sensor.valor_ideal }}</td>
                                        <td>{{ sensor.created_at }}</td>
                                        <td>{{ sensor.updated_at }}</td>
                                        <td>
                                            <form
                                                action="{% url 'delete_sensor' sensor.id %}"
                                                method="post"
                                            >
                                                {% csrf_token %}
                                                <button
                                                    type="submit"
                                                    class="btn btn-danger btn-sm"
                                                >
                                                    Excluir
                                                </button>
                                            </form>
                                            <a
                                                href="{% url 'atualizar_sensor' sensor.id %}"
                                                class="btn btn-primary btn-sm"
                                                >Atualizar</a
                                            >
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a
                                href="{% url 'adicionar_sensor' dispositivo.id %}"
                                class="btn btn-success btn-sm"
                                >Adicionar Sensor</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'adicionar_dispositivo' %}" class="btn btn-primary"
                >Adicionar Dispositivo</a
            >
        </div>
        <br />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
