{% load custom_filters %}

<!DOCTYPE html>
<html>
    <head>
        <title>Relatório</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="container">
            <h1>Relatório de Leituras</h1>

            {% for localizacao, v in dados %}
            <h2>Localização: {{ localizacao }}</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Data e Hora</th>
                        <th>Sensor</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in v %}
                    <tr>
                        <td>{{ obj.data_hora }}</td>
                        <td>{{ obj.sensor.id }}</td>
                        {% if obj.sensor.tipo == 'humidade' %}
                        <td>{{ obj.valor|mul:100|floatformat:2}} {{obj.unidade_medida}}</td>

                        {% else %}
                        <td>{{ obj.valor|floatformat:2}} {{obj.unidade_medida}}</td>

                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br />

            {% endfor %}
        </div>

        <br />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
