<!DOCTYPE html>
<html>
    <head>
        <title>Sensores</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
    </head>
    <body>
        {% include 'navbar.html' %}

        <br />

        <div class="container">
            <h1>Sensores</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Tipo</th>
                        <th>Última Leitura</th>
                        <th>Ativo</th>
                        <th>Valor Ideal</th>
                        <th>Dispositivo</th>
                        <th>Criado Em</th>
                        <th>Atualizado Em</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sensor in sensores %}
                    <tr>
                        <td>{{ sensor.modelo }}</td>
                        <td>{{ sensor.tipo }}</td>
                        <td>{{ sensor.ultima_leitura }}</td>
                        <td>{{ sensor.ativo }}</td>
                        <td>{{ sensor.valor_ideal }}</td>
                        <td>{{ sensor.dispositivo }}</td>
                        <td>{{ sensor.created_at }}</td>
                        <td>{{ sensor.updated_at }}</td>
                        <td>
                            <form
                                action="{% url 'delete_sensor' sensor.id %}"
                                method="post"
                            >
                                {% csrf_token %}
                                <button
                                    type="submit"
                                    class="btn btn-danger btn-sm"
                                >
                                    Excluir
                                </button>
                            </form>
                            <a
                                href="{% url 'atualizar_sensor' sensor.id %}"
                                class="btn btn-primary btn-sm"
                                >Atualizar</a
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'adicionar_sensor' %}" class="btn btn-primary"
                >Adicionar Sensor</a
            >
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
